body {
    margin: 0;
    font-size: 20px;
    font-family: 'Akaya Kanadaka', cursive;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}

a{
    text-decoration: none;
}

/* FORM */

.form__reg {
    width: 300px;
    padding: 20px;
    margin: 150px auto;
    background-color: #fff;

    border: 1px solid rgb(170, 140, 204);

}

.form__title {
    color: rgb(47, 46, 46);
    font-family: 'Akaya Kanadaka', cursive;
}

.form__group {
    margin: 20px auto;
    width: inherit;
}

#form__group {
    display: flex;
    justify-content: space-between;
}

.form__group input {
    font-family: 'Akaya Kanadaka', cursive;
    padding: 10px;
    border: 1px solid rgb(170, 140, 204);
    width: 280px;
    border-radius: 20px;
}

.form__group input:hover {
    border: 1px solid rgb(65, 4, 134);
    border-radius: 20px;
    background-color: rgb(237, 232, 240);
}

.form__group input:focus{
    outline: none;
    border: 1px solid rgb(149, 34, 34);
    border-radius: 20px;
    background-color: rgb(237, 232, 240);
}

.form__group select {
    padding: 10px;
    border: 1px solid rgb(170, 140, 204);
    border-radius: 20px;
}
.data {
    padding: 10px;
    border: 1px solid rgb(170, 140, 204);
    width: 80px;
    border-radius: 20px;
}
.data.mese  {
    padding: 10px;
    border: 1px solid rgb(170, 140, 204);
    width: 110px;
    border-radius: 20px;
}

.form__group select:focus {
    outline: none;
}

/* BTN */





