<!DOCTYPE HTML>
<html>
<head>
    <title>Article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

<!--- INIT HEADER ---->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">AF</div>

            <nav class="nav">
                <a class="nav__link" href="/">Home</a>
                <a class="nav__link" href="#">About</a>
                <a class="nav__link" href="#">Service</a>
                <a class="nav__link" href="#">Blog</a>
                <a class="nav__link" href="#">Work</a>
                <a class="nav__link" href="#">Contact</a>
                <a class="nav__link" href="/article">Article</a>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <input class="nav__link" type="submit" value="Sign Out"/>
                </form>
            </nav>

        </div>
    </div>
</header>
<!--- FINISH HEADER ---->

<!--- INIT CONTENT ---->
<div class="article">
    <div class="container">
        <form action="/article-add" method="POST">

            <div class="article__title">
                <label for="article__title">Title of post</label>
                <input type="text"name="title" id="article__title" placeholder="Add title article here...">
            </div>

            <div class="article__text">
                <label for="article__text">Text</label>
                <textarea name="text" id="article__text" placeholder="Add text article here..."></textarea>
            </div>

            <br>
            <div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button class="btn" type="submit">Add</button>
            </div>
        </form>

{{#article}}
            <div class="cont">

                <div class="title">
                    <h1>{{text}}</h1>
                </div>

                <div class="text">
                    <p>{{title}}</p>
                </div>

                <div class="btn__delete">
                    <form action="/article/{{id}}/delete" method="post">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                        <button class="btn" type="submit" >Delete</button>
                    </form>
                </div>

                <div class="btn__update">
                    <form action="" method="POST">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                        <a class="btn" type="submit" href="/article/{{id}}">Update</a>
                    </form>
                </div>

            </div>
{{/article}}
            <br><br><br>
    </div>
</div>


<!--- FINISH CONTENT ---->

</body>
</html>