<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

<!--- INIT HEADER ---->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">AF</div>

            <nav class="nav">
                <a class="nav__link" href="/">Home</a>
                <a class="nav__link" href="#">About</a>
                <a class="nav__link" href="#">Service</a>
                <a class="nav__link" href="#">Blog</a>
                <a class="nav__link" href="#">Work</a>
                <a class="nav__link" href="#">Contact</a>
                <a class="nav__link" href="/article">Article</a>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <input class="nav__link" type="submit" value="Sign Out"/>
                </form>
            </nav>

        </div>
    </div>
</header>

<!--- FINISH HEADER ---->



</body>
</html>