<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Authentification</title>
        <div th:replace="blocks/link_css :: link_css"></div>
    </head>
    <body>

    <!--- INIT HEADER ---->
    <header th:replace="blocks/header :: header"></header>

    <!--- FINISH HEADER ---->


        <div class="form__reg">
            <h1 class="form__title">Authentification</h1>

            <form th:action="@{/login}" method="post">
                <div class="form__group">
                    <input type="text" name="username" id="username" placeholder="Your username" required>
                </div>

                <div class="form__group">
                    <input type="password" name="password" id="password" placeholder="Your password" required maxlength="8" minlength="8">
                </div>

                <div>
                    <input class="btn" type="submit" value="Log In">
                </div>
            </form>
        </div>

    </body>
</html>