<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration</title>
        <div th:replace="blocks/link_css :: link_css"></div>
    </head>
    <body>

    <!--- INIT HEADER ---->
    <header th:replace="blocks/header :: header"></header>

    <!--- FINISH HEADER ---->
        <div class="form__reg">
            <h1 class="form__title">Registration</h1>

            <form th:action="@{/reg}" method="post">
                <div class="form__group">
                    <input type="text" name="username" id="name" placeholder="Your username" required maxlength="15" minlength="3">
                </div>

<!--                <div class="form__group">-->
<!--                    <input type="text" name="surname" id="surname" placeholder="Your surname" required maxlength="15" minlength="3"> -->
<!--                </div>-->

                <div class="form__group">
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </div>

                <div class="form__group">
                    <input type="password" name="password" id="password" placeholder="Your password" required maxlength="8" minlength="8">
                </div>

                <div class="form__group">
                    <select class="data">
                        <option disabled selected>Date</option>
                        <option>02</option>
                        <option>17</option>
                        <option>22</option>
                        <option>28</option>
                    </select> 
                   
                    <select class="data mese">
                        <option  disabled selected>Month</option>
                        <option>Ianuarie</option>
                        <option>Iunie</option>
                        <option>Octombrie</option>
                        <option>Noiembrie</option>
                    </select>

                    <select class="data">
                        <option disabled selected>Year</option>
                        <option>1976</option>
                        <option>1980</option>
                        <option>2000</option>
                        <option>2005</option>
                    </select>
                    
                </div>

                <div class="form__group">
                    <label for="male">Man</label>
                    <input type="radio" name="choose_sex" id="male" required>

                    <label for="female">Woman</label>
                    <input type="radio" name="choose_sex" id="female" required>
                </div>

                <div>
                    <input class="btn" type="submit" value="Sing In">
                </div>


            </form>

        </div>

    </body>
</html>